@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background: rgba(138, 29, 102, 0.3);
  text-align: center;
}

h1 {
  font-size: 45px;
  color: rgb(196, 69, 143);
}

p {
  font-size: 40px;
  font-family: 'monospace';
}

img {
  width: 30%;
}